**Exercise 2: Create markdown cell with title of the notebook
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
Take a screenshot of the markdown cell and name it as 2-title.png (Images can be saved with either the .jpg or .png extension.)**

<h1> Data Science Tools and Ecosystem<h1>

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**

- List popular languages for Data Science.
- Identify open-source development tools.
- Evaluate arithmetic expressions in Python.
- Understand the importance of data visualization.
- Explore fundamental libraries for data analysis.

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular language that used by Data Scientist are:
<br>1-Python
<br>2-R
<br>3-SQL
<br>4-Scala

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the popular language that used by Data Scientist are:
<br>**Python:**<br>1-Pandas<br>2-Numpy<br>4-Matplotlib<br>3-Sckit-Learn
<br>**R**<br>1-dplyr<br>2-ggplot2<br>3-caret

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Spark           |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples.**
**Add a line in this cell with H3 style heading with text like:**

<h3>Below are a few examples of evaluating arithmetic expressions in Python:<br> `3 + 5`  → Result: `8<br>`3 - 2`  → Result: `1`<br>`40 / 10`  → Result: `4``<h3

**Exercise 8 - Create a code cell to multiply and add numbers**

In [85]:
#This a simple arithmetic expression to mutiply then add integers
(25+3)*3

84

**Exercise 9 - Create a code cell to convert minutes to hours**

In [93]:
#This will convert 200 minutes to hours by diving by 60
min_to_hour = 200/60
'200 minutes are: '+ str(min_to_hour)[:3] + ' hours'

'200 minutes are: 3.3 hours'

**Exercise 11 - Create a markdown cell to indicate the Author's name**

<h2>Francisco Ib.<h2>